{% extends "base.html" %}
{% block title %}Detalles del Producto{% endblock %}

{% block contenido %}
<h2>{{ producto.nombre }}</h2>
<p>Precio: €{{ producto.precio }}</p>
<p>Stock: {{ producto.stock }}</p>
<p>Volumen: {{ producto.volumen }}</p>
<p>Peso: {{ producto.peso }}</p>
<p>Detalles: {{ producto.detalles }}</p>
<p>Frágil: {{ 'Sí' if producto.fragil else 'No' }}</p>

<form action="{{ url_for('views.anadir_carrito', producto_id=producto.id) }}" method="POST">
  <button type="submit" class="btn btn-success">Añadir al carrito</button>
</form>

<a href="{{ url_for('views.home') }}">Volver a la página principal</a>
{% endblock %}
